@model ProjectPrintDos.Models.ProductTypeViewModels.ProductBuilderVM

@inject SignInManager<ApplicationUser> SignInManager
<div class="container-fluid">

    <div>
        <h4>Product Details</h4>
        <hr>
    </div>

    <form class="form-horizontal">
    <!-- Screens and Inks Cards -->

        <div class="form-group">
            @foreach (var item in Model.Screens)
            {
                <label asp-for=""
                <!-- Make this div a button that captures a value -->
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="#" alt="...">
                            <div class="caption">
                                <h5>@item.Title</h5>
                                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                            </div>
                        </div>
                    </div>
                
            }
        </div>
        
        <div class="form-group">
            @foreach (var item in Model.Inks)
            {
                <!-- Make this div a button that captures a value -->
                <div>
                    <div class="col-sm-4 col-md-1">
                        <div class="thumbnail">
                            <img src="#" alt="...">
                            <div class="caption">
                                <h5>@item.Title</h5>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

        @if (SignInManager.IsSignedIn(User))
        {
            <div class="form-group">
                <p>Add to cart button</p>
            </div>
        }
    </form>

</div>